
.list-projects ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    width: 120px;
    height: 40px;
    background-color: #18181a;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.options:hover{
    background-color: #272525;
}
.btn-header{
    background-color: #0EEA23;
    
    
}
.font-header{
    color:black ;
    font-weight: bold;
    opacity: 1;
}
.text-front{
    font-family: "Comfortaa", sans-serif;
    
}